<div class="perfil-container" *ngIf="datosPerfil">

  <div class="datos-edicion-container">

    <div class="datos-personales">
      <h2>Datos Personales</h2>
      <p><strong>Nombre:</strong> {{ datosPerfil.nombre }}</p>
      <p><strong>Apellidos:</strong> {{ datosPerfil.apellidos }}</p>
      <p><strong>Correo Electrónico:</strong> {{ datosPerfil.correo_electronico }}</p>
      <p><strong>Dirección:</strong> {{ datosPerfil.direccion }}</p>
      <p><strong>Teléfonos:</strong></p>
      <ul *ngIf="datosPerfil.telefonos">
        <li *ngFor="let telefono of datosPerfil.telefonos">
          <strong>Número:</strong> {{ telefono?.numero }}
        </li>
      </ul>
    </div>

    <div class="edicion-perfil">
      <h2>Editar Perfil</h2>
      <div>
          <label for="contrasenya">Cambiar Contraseña:</label>
          <input type="password" id="contrasenya" [(ngModel)]="nuevosDatos.contrasenya" *ngIf="editandoContrasenya" />
          <button *ngIf="!editandoContrasenya" (click)="habilitarEdicion('contrasenya')">Editar</button>
          <button *ngIf="editandoContrasenya" (click)="guardarEdicion('contrasenya')">Guardar</button>
          <button *ngIf="editandoContrasenya" (click)="cancelarEdicion()">Cancelar</button>
      </div>

      <div>
          <label for="direccion">Cambiar la Dirección:</label>
          <input type="text" id="direccion" [(ngModel)]="nuevosDatos.direccion" *ngIf="editandoDireccion" />
          <button *ngIf="!editandoDireccion" (click)="habilitarEdicion('direccion')">Editar</button>
          <button *ngIf="editandoDireccion" (click)="guardarEdicion('direccion')">Guardar</button>
          <button *ngIf="editandoDireccion" (click)="cancelarEdicion()">Cancelar</button>
      </div>

      <div>
          <label for="telefonos">Nuevos Teléfonos:</label>
          <button *ngIf="!editandoTelefono" (click)="habilitarEdicion('telefonos')">Editar</button>
          <input *ngIf="editandoTelefono" type="text" id="telefono" name="telefono" [(ngModel)]="telefono" (input)="autoAgregarTelefono()">
          <button *ngIf="editandoTelefono" (click)="guardarEdicion('telefonos')">Guardar</button>
          <button *ngIf="editandoTelefono" (click)="agregarTelefono()">Agregar Teléfono</button>
      </div>

      <div class="form-group" *ngFor="let tel of telefonos; let i = index; trackBy: trackByIndex">
          <input type="text" [id]="'telefono-' + i" [name]="'telefono-' + i" [(ngModel)]="telefonos[i]" required>
          <button (click)="eliminarTelefono(i)">Eliminar</button>
      </div>
  </div>


<div class="historial-pedidos">
  <h2>Historial de Pedidos</h2>
  <table>
    <thead>
      <tr>

        <th>Fecha</th>
        <th>Estado</th>
        <th>Precio Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of historialPedidos">

        <td>{{ pedido.fecha | date:'medium' }}</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.precio_total | currency:'EUR':'symbol':'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
